{% extends 'layout.html' %}

{% block content %}
    <div class="about">
        <div class="aboout-txt">
            Welcome to my website! My name is Achiket and I am a student. I am passionate about [what you are passionate about] and love sharing my knowledge and experience with others.

            
            <p>About myself:</p>
        I have been working on this website for 1 weeks and have gained a lot of valuable insight and knowledge.
            
            My goal for this website is provide you with notes. Whether or not they are here for [why visitors visit your site], we hope you find the information and resources on this site useful and informative.
            
            If you have any questions or comments, please contact [How to contact us]. Thanks for stopping by. We look forward to connecting with you!     </div></div>
{% endblock content %}